# Exclude LU_downscalled_dataset folder and its contents

# Ignore the entire folder
LU_ref_dataset/LU_ref_PLUM_SSPs/*

# Explicitly allow specific files
!LU_ref_dataset/LU_ref_PLUM_SSPs/masked_SSP1_RCP26/masked_s1_2022_SSP1_RCP26.tif
!LU_ref_dataset/LU_ref_PLUM_SSPs/masked_SSP1_RCP26/masked_s1_2023_SSP1_RCP26.tif

#
.Rproj.user/
sub_SAfrica_LU_downscalling.html
# Ignore R session and history files
.RData
.Rhistory
